<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <body style="background-color: #C8C6C6;">
        
        <section class="faq">
            <div class="containerFaq">
                <div class="faqTitle">Frequently Asked Questions</div>
                <div class="accordion">
    
                    <div class="accordianItem">
                        <input type="checkbox" id="question1">
                        <label for="question1" class="accordianLink">
                            <span>How to register as a Student/Admin?</span>
                            <span class="down"><i class="fa-solid fa-angle-down down"></i></span>
                            <span class="up"><i class="fa-solid fa-angle-up up"></i></span>
                        </label>
                        <div class="answer">
                            <p>By clicking on the Student/Register button on the Home page you can create a student/Admin account by providing the necessary details such as name, School id , password</p>   
                        </div>
                    </div>
    
                    <div class="accordianItem">
                        <input type="checkbox" id="question2">
                        <label for="question2" class="accordianLink">
                            <span>Can i check the available books of my institute?</span>
                            <span class="down"><i class="fa-solid fa-angle-down down"></i></span>
                            <span class="up"><i class="fa-solid fa-angle-up up"></i></span>
                        </label>
                        <div class="answer">
                            <p>Yes... You can check the available books of your institues/school/college/library by heading to the home page</p>   
                        </div>
                    </div>
    
                    <div class="accordianItem">
                        <input type="checkbox" id="question3">
                        <label for="question3" class="accordianLink">
                            <span>Can Admin upload new books for the library?</span>
                            <span class="down"><i class="fa-solid fa-angle-down down"></i></span>
                            <span class="up"><i class="fa-solid fa-angle-up up"></i></span>
                        </label>
                        <div class="answer">
                            <p>Yes, by log in/register to as admin -> go to profile -> click on upload books.. Here you can upload books by providing the Book Name, Book Id, School Id, Quantity of books and an image of thr book  </p>   
                        </div>
                    </div>
    
                    <div class="accordianItem">
                        <input type="checkbox" id="question4">
                        <label for="question4" class="accordianLink">
                            <span>How to check the books i got issued from my college?</span>
                            <span class="down"><i class="fa-solid fa-angle-down down"></i></span>
                            <span class="up"><i class="fa-solid fa-angle-up up"></i></span>
                        </label>
                        <div class="answer">
                            <p>You can check the books issued to you by simply log in to your profile and go to student profile</p>   
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
<%- include('../partials/footer.ejs') %>