<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <body style="background-color: #C8C6C6;">
        
        <section class="faq">
            <div class="containerFaq">
                <div class="faqTitle">Frequently Asked Questions</div>
                <div class="accordion">
    
                    <div class="accordianItem">
                        <input type="checkbox" id="question1">
                        <label for="question1" class="accordianLink">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
                            <span class="down"><i class="fa-solid fa-angle-down down"></i></span>
                            <span class="up"><i class="fa-solid fa-angle-up up"></i></span>
                        </label>
                        <div class="answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>   
                        </div>
                    </div>
    
                    <div class="accordianItem">
                        <input type="checkbox" id="question2">
                        <label for="question2" class="accordianLink">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
                            <span class="down"><i class="fa-solid fa-angle-down down"></i></span>
                            <span class="up"><i class="fa-solid fa-angle-up up"></i></span>
                        </label>
                        <div class="answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>   
                        </div>
                    </div>
    
                    <div class="accordianItem">
                        <input type="checkbox" id="question3">
                        <label for="question3" class="accordianLink">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
                            <span class="down"><i class="fa-solid fa-angle-down down"></i></span>
                            <span class="up"><i class="fa-solid fa-angle-up up"></i></span>
                        </label>
                        <div class="answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>   
                        </div>
                    </div>
    
                    <div class="accordianItem">
                        <input type="checkbox" id="question4">
                        <label for="question4" class="accordianLink">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</span>
                            <span class="down"><i class="fa-solid fa-angle-down down"></i></span>
                            <span class="up"><i class="fa-solid fa-angle-up up"></i></span>
                        </label>
                        <div class="answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>   
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include('../partials/footer.ejs') %>