{{>header}}
{{>navbar}}
{{!-- <div id="loader" style="margin: 0;">
    <div class="center">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
</div> --}}
<body>
   {{!-- <script>
        document.onreadystatechange = function() {
	if (document.readyState !== "complete") {
		document.querySelector("body").style.visibility = "hidden";
		document.querySelector("#loader").style.visibility = "visible";
	} else {
        setTimeout(()=>{
                 document.querySelector("#loader").style.display = "none";
		document.querySelector("body").style.visibility = "visible";
        },1200)

	}
};

    </script> --}}

{{>footer}}
