<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
{{!-- <div id="loader" style="margin: 0;">
    <div class="center">
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
  <div class="wave"></div>
</div>
</div> --}}
<body>
   {{!-- <script>
        document.onreadystatechange = function() {
	if (document.readyState !== "complete") {
		document.querySelector("body").style.visibility = "hidden";
		document.querySelector("#loader").style.visibility = "visible";
	} else {
        setTimeout(()=>{
                 document.querySelector("#loader").style.display = "none";
		document.querySelector("body").style.visibility = "visible";
        },1200)

	}
};

    </script> --}}

<div class="">
    <div <style media="screen">
      top : 200px;
    </style>>
      <h1>Admin</h1>
      <a href="/loginAdmin"><button type="button" name="button">Admin</button></a>
    </div>
    <div>
      <h1>Student</h1>
      <a href="/loginStudent"><button type="button" name="button">Student</button></a>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
