{{>header}}
{{>navbar}}

    <main>
        <img src="/images/login.jpeg" alt="">
        <h1>Login as admin</h1>
        <form action="/loginAdmin" method="POST">
        <section>
            <div>
                <label for="">School code</label>
            </div>
            <input type="number" name="adminschoolid" placeholder="10-digit">
            <div>
                <label for="">Your email</label>
            </div>
            <input type="email" name="adminemail" placeholder="email@shool_name.com">
            <i class="fa-solid fa-envelope fa-2x"></i>
            <div>
                <label for="Password">Password</label>
            </div>
            <input type="password" name="adminpassword" placeholder="Password">
            <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
            <div>
                <input type="submit" value="Sign in ">
            </div>
            <a href="registerAdmin">Create new account?</a>
        </section>
        </form>
    </main>


{{>footer}}

