<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<body class="login">
   
    <main>
        <img src="https://i.ibb.co/txHV3T8/login.jpg" id="head"  alt="login">
        <h1 style="margin-left: 21%;">Login as admin</h1>
        <form action="/loginAdmin" method="POST">
        <section>
            <div>
                <label for="">School code</label>
            </div>
            <input type="number" name="adminschoolid" placeholder="10-digit">
            <div>
                <label for="">Your email</label>
            </div>
            <input type="email" name="adminemail" placeholder="email@shool_name.com" style="width: 95%;">
            <i class="fa-solid fa-envelope fa-2x registerrr" style="transform: translateY(-4px);"></i>
            <div>
                <label for="Password">Password</label>
            </div>
            <input type="password" name="adminpassword" placeholder="Password">
            <i class="fa fa-lock fa-2x registerrr" aria-hidden="true" style="transform: translateY(-4px);"></i>
            <div>
                <input type="submit" value="Sign in ">
            </div>
            <a href="registerAdmin" style="text-align: center;margin-left: 37%;">Create new account?</a>
        </section>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
