<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>


<body>
<form action="uploadBook" method="POST">
  <div class="info">
      <div class="bookUpload">
          <div class="heading">Upload New Book</div>
          <hr style="border-top: 3px solid #2C3333;">
          <div class="row1">
              <div class="col col1">
                  <div class="title">BOOK NAME</div>
                  <input type="text" placeholder="Book Name" name = "bookname">
              </div>
              <div class="col col2">
                  <div class="title">BOOK ID</div>
                  <input type="number" placeholder="Book Id" name = "bookid">
              </div>
              <div class="col col3">
                  <div class="title">SCHOOL ID</div>
                  <input type="number" placeholder="School Id" name = "schoolid">
              </div>
              <div class="col col4">
                  <div class="title">QUANTITY</div>
                  <input type="number" placeholder="Quantity" name = "quantity">
              </div>
          </div>
          <div class="bookImage">
              <input type="file" >
          </div>
          <div class="submit">
              <button class="submitB">Upload Book</button>
          </div>
      </div>
  </div>
</form>
<%- include('../partials/footer.ejs') %>
