<footer class="footer">
    <div class="mainContainer">
        <div class="left box">
            <h2>About Us</h2>
            <div class="content">
                <p>HTML Hackers is a group of people specialized in web development who bring together bunch of innovative ideas and implement them on their projects. Trying to make world a better place.</p>
                <div class="social">
                    <a href="#"><span class="fab fa-facebook-f"></span></a>
                    <a href="#"><span class="fab fa-twitter"></span></a>
                    <a href="#"><span class="fab fa-instagram"></span></a>
                    <a href="#"><span class="fab fa-youtube"></span></a>
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">New Delhi, India</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone"></span>
                    <span class="text">011 34682309</span>
                </div>
                <div class="place">
                    <span class="fas fa-envelope"></span>
                    <span class="text">example@gmail.com</span>
                </div>
            </div>
        </div>
        <div class="right box">
            <h2>Contact Us</h2>
            <div class="content">
            <form action="mailto:avneetsingh843@gmail.com">
                <div class="email">
                    <div class="text">Email *</div>
                    <input type="email" required>
                </div>
                <div class="msg">
                    <div class="text">Message *</div>
                    <textarea cols="25" rows="4" required></textarea>
                </div>
                <div class="btn">
                    <button type="submit">Send</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <div class="Fbottom">
        <center>
            <span class="credit">Created by <a href="#">HTML Hackers</a></span>
        </center>
    </div>
</footer>
</body>
</html>