<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </label>
        <a href="/"> <label class="logo">Library</label></a>
       
        <ul id="nav">
            <li><a href="/">HOME</a></li>
            <li><a href="loginStudent">Student</a></li>
            <li><a href="loginAdmin">Teacher</a></li>
            <li><a href="secret">Secret</a></li>
            <li><a href="logout">LogOut</a></li>
            <li><a href="secretstudent">SecretStudent</a></li>
            <li><a href="logoutstudent">LogOutStudent</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">FEEDBACK</a></li>
        </ul>
    </nav>
</header>
