<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars" style="color: white;"></i>
        </label>
        <label class="logo">
            <a href="/" style="color: white;"><i class="fa-solid fa-book-open"></i><span style="margin-left: 1%; font-weight: 400;">BookZone</span></a>
        </label>
        <!-- <a href="/"><i class="fa-solid fa-book-open-cover" style="height: 1000px;color:white;  width:auto;"></i>  </a> -->
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="loginStudent">Student</a></li>
            <li><a href="loginAdmin">Teacher</a></li> -->
            <li><a href="adminProfile">AdminProfile</a></li>
            <!-- <li><a href="logout">LogOut</a></li> -->
            <li><a href="studentprofile">StudentProfile</a></li>
            <!-- <li><a href="logoutstudent">LogOutStudent</a></li> -->
            <li><a href="about">About</a></li>
            <li><a href="faq">FAQ</a></li>
            <!-- <li><a href="uploadBook">uploadBook</a></li> -->
        </ul>
    </nav>
</header>
